

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-default"> 
			<div class="panel-heading panel-primary"> 
				<h1> {{user.name}} {{user.lastname}}  </h1>
			</div>
			<div class="panel-body">
				 <div class="thumbnail">
     			 	<img src="{{user.pictures.main}}" alt=""> 
   				 </div>
				
				{{user.description}}
			</div>

			<div class="panel-footer">
				<a href="http://www.linkedin.com/in/katrina-hitchcock-b7729910">@{{user.social.linkedin}}</a>
			</div>
		</div>
	</div>
</div>

{{user | json}}
