
<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<div class="panel panel-default"> 
			<div class="panel-heading panel-primary"> 
				<h1> katrina hitchcock  </h1>
			</div>
				<div class="panel-body">

						<div class="container">
						    	<div class="row">
						        	<div class="col-xs-6">
							             <div class="thumbnail">
					     			 		<img src="{{user.pictures.aboutpic}}" alt=""> 
										</div>
						        	</div>
								        <div class="col-xs-6">
								        	
								        	<br>
								        	<br>
								            {{user.description}}	
								        </div>
							    </div>
						</div>
				</div>						
		</div>
	</div>
</div>


  

