<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-default"> 
			<div class="panel-heading panel-primary"> 
				<h1> {{user.name}} {{user.lastname}}  </h1>
			</div>
			<div class="panel-body">
									
					<div class="skill" *ngFor="let skill of user.skills">
					<!-- 	{{skill | json}} -->
						{{skill.name}}
						
				  		<div class="progress">
  							<div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="5" [ngStyle]="{width: skill.rank / 5 * 100 + '%'}">
						    	<span class="sr-only">60% Complete</span>
						 	</div>
						</div>
					</div>			
			</div>
		</div>
	</div>
</div>


{{user | json}}