.navbar-default {
  background-color:black;
  
 }

.navbar {
  .navbar-inner {
    background-color:teal;
   
  }
}

/* navbar */
.navbar-fixed-bottom {
    background-color:black;
    
    
    height: 10px;
    

   
    
}

.navbar-text {
	 	
	 padding-bottom: 40px;
  
  
    
}

.pointer{
	cursor: pointer;
}
